<h2 class="font-sora text-xl font-extrabold text-gray-950">
  <a href="/">
    <span class="text-red-500 uppercase font-bold text-lg">Youtubers</span><span
      >income</span
    ><span class="text-base font-normal">.com</span>
  </a>
</h2>
