<h2 class="font-sora text-md font-extrabold uppercase text-white md:text-lg">
  <a href="/">
    <span class="text-red-400" >Youtubers</span><span>income</span><span
      class="text-base font-normal lowercase">.com</span
    >
  </a>
</h2>
