<h2 class="font-sora text-lg font-extrabold uppercase text-tPrimary">
  <a href="/">
    <span class="text-accent">Youtubers</span><span>income</span><span
      class="text-base font-normal lowercase">.com</span
    >
  </a>
</h2>
