<nav
  class="font-poppins text-white hidden py-2 space-x-6 text-sm font-medium md:flex"
  id="mobile-nav"
>
  <a href="/top-channels" class="underline underline-offset-2 hover:text-red"
    >Top Channels</a
  >
  <a href="/blog" class="underline underline-offset-2 hover:text-red">Blogs</a>
</nav>
