<nav
  class="font-sora hidden space-x-4 text-sm font-medium md:flex"
  id="mobile-nav"
>
  <a
    href="/top-channels"
    class="text-gray-950 underline underline-offset-2 hover:text-red-600"
    >Top Channels</a
  >
  <a
    href="/blog"
    class="text-gray-950 underline underline-offset-2 hover:text-red-600"
    >Blogs</a
  >
</nav>
