---
import Logo from "./shared/header/Logo.astro";
---

<footer class="mt-10 bg-gray-950 shadow-inner border-t border-gray-100">
  <div
    class="max-w-4xl mx-auto px-6 py-10 text-center flex-col gap-4 flex items-center justify-between md:flex-row"
  >
    <!-- Logo or Site Name -->
    <Logo />

    <!-- Copyright -->
    <p class="text-sm text-gray-400">
      © 2025 ChannelIncome. All rights reserved.
    </p>
  </div>
</footer>
