---

---

<header class="bg-blue-50 text-blue-950 py-4 px-4">
  <div class="mx-auto max-w-5xl">
    <a href="/" class="text-2xl font-bold">
      <span class="text-xl font-bold tracking-wide uppercase">
        <span class="text-red-600">Channel</span>Income<span
          class="text-sm text-gray-400">.com</span
        >
      </span>
    </a>
  </div>
</header>
