---

---

<section class="bg-blue-950 text-white px-4">
  <div class="mx-auto py-16 max-w-5xl">
    <div>
      <h1 class="text-3xl font-bold mb-4 tracking-tight md:text-5xl">
        How Much Money Do YouTubers Make? <br /> Try This YouTube Earnings Calculator!
      </h1>
      <p class="text-base md:text-lg mb-4">
        Find out how much YouTubers earn per view or per month. <br /> Just enter
        a channel name, handle, or link. It’s free and easy!
      </p>
    </div>
    <slot />
  </div>
</section>
