---

---

<section class="bg-[#0f172a] text-white">
  <div class="mx-auto py-20 max-w-6xl">
    <div>
      <h1 class="text-5xl font-bold mb-6 tracking-tight">
        How Much Money Do YouTubers Make? Try This YouTube Earnings Calculator!
      </h1>
      <p class="text-lg/8 mb-12">
        Want to see how much money YouTubers make per view or per month? Use our
        free YouTube money calculator to check income per view, per month, or by
        channel name. It's fast, easy, and powered by real data from tools like
        Social Blade!
      </p>
    </div>
    <slot />
  </div>
</section>
