<h1 class="text-xl font-bold tracking-wider">
  <a href="/">
    <span class="text-red-600 text-lg">CHANNEL</span><span class="text-black"
      >income</span
    ><span class="text-base font-normal">.com</span>
  </a>
</h1>
