<h1 class="text-xl font-bold tracking-wider">
  <a href="/">
    <span class="text-blue-800 text-lg">CHANNEL</span><span
      class="text-blue-950">income</span
    ><span class="text-base font-normal">.com</span>
  </a>
</h1>
